body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    /*Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    ;
    color: rgb(240, 240, 240);
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 900px) and (min-width:500px) {}

nav {
    background-color: #0397d6;
    margin-top: 30px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    /*justify-content: space-between;*/
}

nav ul li a,
.button a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li :hover {
    color: aqua;
}

.section2 {
    display: flex;
}

.button {
    margin-left: 100px;
    align-items: center;
    float: right;
    padding: 9px 25px;
    color: #fff;
    text-decoration: none;
    background-color: #fcb900;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0, 3s ease 0s;
}

.section1 {
    margin-top: 10px;
    /*margin-left: 30px;*/
    display: flex;
    justify-content: center;
}

/*nav ul {
    float: right;
    margin-right: 90px;
}*/

nav ul li {
    display: inline-block;
    line-height: 60 px;
    margin: 10px;
    align-items: center;
}


/*.APPOINTMENT {
    float: right;
    color: rgb(14, 94, 114);
    height: 40px;
    width: 110px;
    margin-top: 10px;
    margin-left: 60px;
    display: flex;
}


.APPOINTMENT p {
    align-items: center;
justify-content: center;
}*/

.video {
    margin-top: 40px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.video1 {

    z-index: -1;
}

/*.div1 {
    height: 40px;
    background-color: #006595;
}*/

.div2 {
    margin-top: 20px;
    background-color: #fff;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    color: #006595;
}

.div2 p {
    padding-left: 20px;
    padding-right: 20px;
}

.description {
    display: block;
    text-align: center;
    justify-items: center;
}

.description2 {
    margin-top: 130px;
}

.checkIt a :hover {
    color: #fcb900;
}

.divf1 ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
}

.lastdiv p {
    margin: 0.5rem;
    color: #004768;
    font-family: inherit;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
}

/*contact part*/

.contact {
    margin-top: 30px;
    display: flex;
    color: #333;

    background-color: #0397d6;
    width: 400px;
    height: auto;
}

.cntactForm {
    color: #333;
    width: 40%;
    padding: 40%;
    background: #fff;
}

.contactForm h1 {
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0px;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #fff;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox2 input {
    width: 62px;
    background-color: #00bcd4;
    border: none;
    border-radius: 10%;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}