body {
    margin: 0;
    padding: 0;
    font-family: Arial;
        /*Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/;
    
    color: rgb(240, 240, 240);
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: #0397d6;
    margin-top: 30px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    /*justify-content: space-between;*/
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a :hover{
    background-color: black ;
}

.section1 {
   margin-top: 10px;
    /*margin-left: 30px;*/
    display: flex;
    justify-content: center;
}

/*nav ul {
    float: right;
    margin-right: 90px;
}*/

nav ul li {
    display: inline-block;
    line-height: 60 px;
    margin: 10px;
}


/*.APPOINTMENT {
    float: right;
    color: rgb(14, 94, 114);
    height: 40px;
    width: 110px;
    margin-top: 10px;
    margin-left: 60px;
    display: flex;
}


.APPOINTMENT p {
    align-items: center;
justify-content: center;
}*/

.video {
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.video1 {

    z-index: -1;
}

/*.div1 {
    height: 40px;
    background-color: #006595;
}*/

.div2 {
    margin-top: 20px;
    background-color:#fff;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    color: #006595;
}

.div2 p {
    padding-left: 20px;
    padding-right: 20px;
}

.description {
    display: block;
    text-align: center;
    justify-items: center;
}


.lastdiv p{
    margin: 0.5rem;
    color: #004768;
    font-family: inherit;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
}

